*,
*::before,
*::after {
  box-sizing: border-box;
  margin:5;
  padding:0;
}
body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

#player-container {
  margin-bottom: 20px;
}

input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 200px;
}

button {
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
}

#results {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #444;
  border-radius: 8px;
}

#results p {
  font-size: 18px;
  margin: 6px 0;
}
